@import "tailwindcss";

@theme {
  --font-family-sans: DMSans, sans-serif;
}

@font-face {
  font-family: 'DMSans';
  src: url('/fonts/DMSans.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
}